<div class="table-responsive">
  <table class="table  table-sm table-hover ">
    <thead class=" table-dark bg-primary">
      <tr>
        <th>TaskID</th>
        <th>ParentID</th>
        <th>TaskName</th>
        <th>StartDate</th>
        <th>EndDate</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let td of taskService.taskDetails">
        <td (click)="onEdit(td)">{{td.TaskId}}</td>
        <td>{{td.ParentTask}}</td>
        <td (click)="onEdit(td)">{{td.TaskName}}</td>
        <td>{{td.StartDate | date:'M/d//yyyy'}}</td>
        <td>{{td.EndDate | date:'M/d/yyyy'}}</td>
        <td>{{td.Priority}}</td>
        <td>
          <div class="justify-content-center ">
            <span class="mx-auto col">
              <i class="far fa-edit fa-lg text-success" [class.disabled]="td.IsCompleted" aria-hidden="true"
                (click)="onEdit(td)"></i>
            </span>
            <span class="mx-auto col">
              <i class="far fa-trash-alt fa-lg text-danger" [class.disabled]="td.IsCompleted" aria-hidden="true"
                (click)="onDelete(td.TaskId)"></i>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot class=" table-dark bg-primary">
      <tr></tr>
    </tfoot>
  </table>
  <!-- <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav> -->
</div>